.character{
	background-image:url(../img/idle-1-2-1.png);
	position:absolute;
	width:128px;
	height:128px;
}

.enemy{
	background-image:url(../img/idle-1.png);
	position:absolute;
	width:128px;
	height:128px;
}

#player{
	top:1700px;
	left:3700px;
}

#enemy_1{
	top:1750px;
	left:3770px;
}

#enemy_2{
	top:1670px;
	left:3770px;
}

#screen{
	background-color:gray;
	width:800px;
	height:600px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-400px;
	overflow: hidden;
}

.scene{
	background-image:url(../img/forest.jpg);
	position:absolute;
	width:4096px;
	height:2037px;
	top:-1310px;
	left:-3280px;
}